@media (min-width: 1200px) {
  .w3 .container {
    width: 1260px;
    padding: 0;
  }
}

.w3 .banner {
  height: 42.7vw;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@media (max-width: 850px) {
  .w3 .banner {
    height: auto;
  }
}

.w3 .banner .mobile-banner {
  display: none;
}

@media (max-width: 850px) {
  .w3 .banner .mobile-banner {
    display: block;
  }
}

.w3 .banner .pc-banner {
  position: relative;
  margin-bottom: 0;
}

@media (max-width: 850px) {
  .w3 .banner .pc-banner {
    display: none;
  }
}

.w3 .banner .banner-info {
  width: 40vw;
  height: 100%;
  position: absolute;
  top: 50%;
  left: calc((100% - 1260px)/2);
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 1920px) {
  .w3 .banner .banner-info {
    max-width: 30%;
  }
}

@media (max-width: 1350px) {
  .w3 .banner .banner-info {
    left: 10%;
  }
}

@media (max-width: 1024px) {
  .w3 .banner .banner-info h1 {
    font-size: 38px;
  }
  .w3 .banner .banner-info h3 {
    font-size: 24px;
  }
}

@media (max-width: 850px) {
  .w3 .banner .banner-info {
    position: relative;
    height: auto;
    top: 0;
    transform: initial;
    width: 100%;
    left: 0;
    padding: 2em;
    text-align: center;
  }
  .w3 .banner .banner-info .anviz-primary-btn {
    margin: 2em auto;
  }
}
.w3 .nav-bar .nav-bar-item{
  border-bottom: 1px solid #ddd;
}
.w3 .nav-bar .nav-bar-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.w3 .nav-bar ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}
.w3 .nav-bar .share_con{
  justify-content: flex-end;
  width: 30%;
}
.w3 .nav-bar .nav{
  width:90%;
}
.w3 .nav-bar ul li {
  display: flex;
  justify-content: flex-start;
}

.w3 .nav-bar ul li .product-title {
  margin-right: 1em;
  font-weight: 500;
}
.w3 .nav-bar .links{
  display:flex;
  }
.w3 .nav-bar ul li .links a {
  padding: 0 15px;
}

.w3 .nav-bar.xq_hover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background: rgba(241, 241, 241, 0.87);
}

@media (max-width: 720px) {
  .w3 .nav-bar {
    display: none;
  }
  .w3 h2, .w3 p, .w3 h6 {
    text-align: center !important;
  }
}

.w3 .overviews {
  padding: 4em 0;
}

@media (max-width: 850px) {
  .w3 .overviews {
    padding: 2em 0;
  }
}

.w3 section {
  padding: 4em 0;
}

@media (max-width: 850px) {
  .w3 section {
    padding: 2em 0;
  }
}

.w3 section.box.gray {
  background-color: #F9F9F9;
}

.w3 section.box h2 {
  text-align: center;
}

.w3 section.box .img-box {
  display: flex;
}

@media (max-width: 850px) {
  .w3 section.box .img-box {
    flex-direction: column;
  }
}

.w3 section.box .img-box .first-item {
  flex-basis: 70%;
  position: relative;
}

.w3 section.box .img-box .first-item img {
  object-fit: cover;
  position: relative;
  margin-bottom: 0;
}

.w3 section.box .img-box .first-item .num {
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0068B7;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.w3 section.box .img-box .first-item .num.one {
  right: 20px;
  top: 20px;
}

.w3 section.box .img-box .img-sub-box {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

@media (max-width: 850px) {
  .w3 section.box .img-box .img-sub-box {
    margin-left: 0;
    flex-basis: 100%;
  }
}

.w3 section.box .img-box .img-sub-box .item {
  position: relative;
}

.w3 section.box .img-box .img-sub-box img {
  object-fit: cover;
  margin-bottom: 0;
}

.w3 section.box .img-box .img-sub-box .num {
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0068B7;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.w3 section.box .img-box .img-sub-box .num.two, .w3 section.box .img-box .img-sub-box .num.three {
  right: 20px;
  top: 20px;
}

.w3 section.box .img-box.cloud-box {
  align-items: flex-end;
}

.w3 section.box .img-box.cloud-box .img-item:last-child {
  position: relative;
  top: 38px;
}

.w3 section.box .list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

@media (max-width: 850px) {
  .w3 section.box .list {
    grid-template-columns: repeat(1, 1fr);
  }
  .w3 section.box .list:nth-child(2n) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.w3 section.box .list h2 {
  text-align: left;
}

.w3 section.box .list .text {
  padding: 2em;
}

@media (max-width: 850px) {
  .w3 section.box .list .text {
    padding: 0;
  }
  .w3 section.box .list .text h2 {
    padding-left: 0;
  }
}
section .item {
  padding:0;
}
section .item img {
  display: block;
  margin: 0 auto;
}
